@model IEnumerable<TesteCedro.Models.Produto>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width" />
    <title>Produtos Cadastrados</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css">
</head>
<body>
    <h2><b>PRODUTOS CADASTRADOS</b></h2>
    <hr />
    <br />
    @foreach (var produto in Model)
    {
        <div class="cardProduto">
            <img class="img-thumbnail" src=@Html.DisplayFor(modelproduto => produto.Imagem)
                 alt="Avatar" style=" width:400px; height:250px; display:block; margin:auto;">
            <h4 style="margin:5px"> <b>NOME:</b> @Html.DisplayFor(modelproduto => produto.Nome)</h4>
            <h4 style="margin:5px"> <b>PREÇO:</b> R$ @Html.DisplayFor(modelproduto => produto.Valor)</h4>
            <div class="buttonProduto">
                <button class="btn btn-default" style="background-color:#000000; color:#ffffff; margin:5px"><b>@Html.ActionLink("COMPRAR", "CompraProduto", new { id = produto.IDProduto })</b> </button>
                <button class="btn btn-default" style="background-color:#000000; color:#ffffff; margin:5px"><b>@Html.ActionLink("DETALHAR", "DetalhaProduto", new { id = produto.IDProduto })</b> </button>
                <button class="btn btn-default" style="background-color:#000000; color:#ffffff; margin:5px"><b>@Html.ActionLink("EDITAR", "EditaProduto", new { id = produto.IDProduto })</b> </button>
                <button class="btn btn-default" style="background-color:#000000; color:#ffffff; margin:5px"><b>@Html.ActionLink("EXCLUIR", "ExcluiProduto", new { id = produto.IDProduto })</b> </button>
            </div>
        </div>
    }
</body>
</html>
